@charset "utf-8";

</style>

/* Reset */
* {outline:0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}

html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

body{width:100%; background:#fff; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}

body,input,select,textarea,button {border:none; font-size: 1rem; font-family: 'EuclidCircularA', sans-serif !important;}

ul,ol,li{list-style:none;} 

table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}

address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
button{background:none}

.b {word-break: keep-all;}


.blinking{
  -webkit-animation: blink 0.5s ease-in-out infinite alternate;
  -moz-animation: blink 0.5s ease-in-out infinite alternate;
  animation: blink 0.7s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  30% {opacity: .3;}
  100% {opacity: 1;}
}

@-moz-keyframes blink{
  30% {opacity: .3;}
  100% {opacity: 1;}
}

@keyframes blink{
  30% {opacity: .3;}
  100% {opacity: 1;}
}



.blinking1{
  -webkit-animation: blink 0.3s ease-in-out infinite alternate;
  -moz-animation: blink 0.3s ease-in-out infinite alternate;
  animation: blink .9s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}










/*font*/
@font-face {
  font-family: EuclidCircularA;
  src: url(../font/EuclidCircularA-Light.ttf) format(truetype);
  font-weight: 100;
}

@font-face {
  font-family: EuclidCircularA;
  src: url(../font/EuclidCircularA-Regular.ttf) format(truetype);
  font-weight: 300;
}

@font-face {
  font-family: EuclidCircularA;
  src: url(../font/EuclidCircularA-Medium.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: EuclidCircularA;
  src: url(../font/EuclidCircularA-Bold.ttf) format(truetype);
  font-weight: 700;
}





/*font  
@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Black.eot"), url("../font/Avenir-Black.woff") format("woff"), url("../font/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Heavy.eot"), url("../font/Avenir-Heavy.woff") format("woff"), url("../font/Avenir-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Medium.eot");
  src: url("../font/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Avenir-Medium.woff") format("woff"), url("../font/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Roman.eot");
  src: url("../font/Avenir-Roman.eot?#iefix") format("embedded-opentype"), url("../font/Avenir-Roman.woff") format("woff"), url("../font/Avenir-Roman.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Book.eot"), url("../font/Avenir-Book.woff") format("woff"), url("../font/Avenir-Book.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir-Light.eot"), url("../font/Avenir-Light.woff") format("woff"), url("../font/Avenir-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }


*/



/* Form */
textarea { border:1px solid #dbdbdb;}
select { height:32px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff;border-radius: 5px;}
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; text-indent:20px; border-radius: 5px; transition: all 0.5s; vertical-align:middle;}
input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea { padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{background:#eaeaea; border-color:#c0c0c0; color:#666; -webkit-appearance:none;font-size:12px;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea;border:1px solid #c0c0c0;}

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
