@charset "utf-8"

html{font-size: 20px; }
body{font-size: 1rem;  overflow-x:hidden; width: 100%; display: block;}
body a {width: 100%; height: 100%;}






#section1 {
    max-width: 1670px;  width: calc(100% - 150px);
    height: 800px;
    position: relative; margin: 50px auto;


}

#section1 .hero {
    height: 100%;  width: calc(100%-150px);

}


#section1 .hero-bg {
    background-color: #3D3D3D; width: 100%; 
    border-radius: 25px; display: flex; flex-direction: column;
    justify-content: space-between
}


/******header 네비게이션*/

#header {
    padding: 30px 90px; width: 100%;
    box-sizing: border-box; 
}

#header .container {
    display: flex; align-items: center;
    justify-content: center;
    position: relative; height: 100%;


}

.menu{
    display: flex; left: 0; position: absolute;
    height: 100%;
}

.menu-1 {display: flex; gap: 30px;}

      .menu-3 { display: none;}

.menu ul {
    display: flex; align-items: center;
    
}

.menu li a{
    color: #d4d4d4ea; font-size: 1.1rem;
    font-weight: 100;
}


#header .mailto {
    background-color: #E6F156; 
    padding: 7px 50px 7px 20px;
    transform: rotate(-3.605deg);
    position: absolute; right: -100px;
}

#header .mailto a {
    color: #3D3D3D; font-weight: 200;
}

.ham-con {display: none;}


/******header 메인 텍스트 full*/

.bg-content {
}

.text-content {
   
    display: flex; flex-direction: column;  
    justify-content: space-between;
    gap: 0;
    padding: 0 90px; 
    box-sizing: border-box;
    

}

.text-wrap {

    display: flex; flex-direction: column;
    padding: 40px 0; flex-grow: 1;
}

    .text-wrap  h1 {
        color: #E6F156; font-size: 6.25rem;

    }

    .text-wrap h2 {
        color: #B7C041; font-size: 1.25rem;
        font-weight: 100;
        margin-top: 25px;
    }

    #section1 .text-wrap .main-text .typing {
        color: #D6D9AD;
    }
    
    #section1 .text-wrap .main-text .typing::after {
        content: ''; height: 85px;
        margin-left: .8rem; 
        border-right: 1px solid #3D3D3D;
        animation: cursor 1s infinite steps(2); 
    }
    @keyframes cursor {
        from { border-right: 1px solid #777; }
        to { border-right: 1px solid #3D3D3D;  }
      }

    .text-wrap .btn {
        margin-top: 40px;

    }

    .text-wrap .btn a {
        box-sizing: border-box;
        height: 52px; width: 200px;
        padding: 0 40px;
        background-color: #E6F156;
        display: flex; align-items: center;
        justify-content: center;
        border-radius: 30px;
        font-size: 1.1rem; font-weight: 200;
    }

    .text-wrap .btn a:hover {
        background-color: #D3DE48;
    }



.bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  padding : 45px 0 ;

}

.bottom-text h3 {
    color: #949494; font-size: 0.85rem;
    font-weight: 100; margin-bottom: 20px;
}






/************************************1200px******************/

@media screen and (max-width: 1200px) {

    #section1 {
        width: calc(100% - 120px);
        height: 650px;
        position: relative; margin: 50px auto; }




    #header {
        padding: 30px 60px; }

        #header .container {
            display: flex; align-items: center;
            justify-content: center;
            position: relative; height: 100%; 
        }


    .menu-1 li { display: none;}

    #header .mailto {
        padding: 7px 35px 7px 20px;
        right: -80px;
    }





/**햄버거 메뉴**/

.menu-3 {
    display: block; 
    margin-top:22px ;
    z-index: 999;

}

.ham-con {display: block;}

.menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;

  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  
  .menu-trigger {
    position: relative;
    width: 28px;
    height: 21px;
  }
  
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E6F156;
    border-radius: 4px;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 0;

  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 10px;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

/* type-01 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */




.menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (1px) rotate (-45deg);
    transform: translateY(1px) rotate(-45deg);
    background-color: #3D3D3D;

  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #3D3D3D;

  }


/*햄버거 메뉴 on design*/


.ham-con {
    width: calc(100% - 160px);
    height: 150px; left: 80px;
    position: fixed;
    border-radius: 19px;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(4px);
margin-top: 20px;



}

.ham-menu-wrap {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham-top-menu {
    display: flex;
    gap: 80px;
    padding-top: 35px;

}

.ham-top-menu a {
    font-size: 3vw;
    color: #3D3D3D;
    font-weight: 700;
}









/******header 메인 텍스트 1200x*/

.text-content { 
    padding: 0 60px;
}
     
.text-wrap {

    display: flex; flex-direction: column;
    padding: 20px 0;
}

.text-wrap .main-text {

}

.text-wrap h1 {
    font-size: 6.5vw;
    
}

.text-wrap h2 {
    font-size: 1.1rem;
}





}









/************************************650px******************/

@media screen and (max-width: 650px) {

    #section1 {
        width: calc(100% - 40px);
    }


    #header {
        padding: 40px 25px; }

        #header .container {
            display: flex; align-items: center;
            justify-content: center;
            position: relative; height: 100%; }


    .menu-3 { margin-top: -5px;}        

    .logo { display: none;}




    #header .mailto {
        padding: 7px 15px 7px 15px;
        right: -35px;
    }

/******header 메인 텍스트 650*/

#section1 {
    height: 100%;
}

    .text-content {
        padding: 0 25px;


 
        
    }

    .text-wrap {
        padding: 40px 15px;
        align-items: center;
        
    }

    .text-wrap h1 {
        font-size: 6.5vh;
        text-align: center;
    }

    .text-wrap h2 {
        font-size: 1srem;
        text-align: center;
    }
    
    .text-wrap .btn {

        width: 80%;

    }

    .text-wrap .btn a {
        display: flex; align-items: center;
        width: 100%;


    }

    .bottom-text {
        flex-direction:column;
        align-items: center;
        margin-bottom: -90px;
    }


    .ham-con {
        width: calc(100% - 72px);
        height: 350px; left: 35px;
        margin-top: 12px;
    }

    .ham-menu-wrap {
        height: 350px;

        align-items: center;
        justify-content: center;
    }
    
    .ham-top-menu {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: 40px;

        padding-top: 15px;
    
    }
    
    .ham-top-menu a {
        font-size: 5vw;
        color: #3D3D3D;
        font-weight: 700;
    }





}





/************************************section2***********************************/


#section2 {
    position: relative;
    margin: 0 auto;
    padding: 230px 0;

    
}



.field {
    display: flex;
    flex-direction: column;
    align-items: center;



}


.bg-star {

    width: 840px;
    height: 100px;
    margin-bottom: -80px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bg-star .star01 {



}

.bg-star .star02 {
    margin-bottom: 35px;
    margin-right: 10px;

}


.field-text {
    display: flex; flex-direction: column;
}

.break {display: none;}

.field-text h1 {
    font-size: 3.12rem;
    text-align: center;
}

.field-text h2 {
    margin-top: 30px;
    color: #6B7070;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 200;
}


.field-img {
    align-items: center;
    margin-top: 60px;

}

.field-img02 {display: none;}




/************************************1200px******************/

@media screen and (max-width: 1200px) {

    #section2 {
        position: relative;


    }

    .field {
        width: 798px;
        margin: 0 auto;
    }

    .bg-star {

        width: 700px;
        height: 100px;
        margin-bottom: -70px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    

    
    .bg-star .star02 {
        margin-bottom: 35px;
        margin-right: 10px;
    
    }

    .field-text h1 {
        font-size: 2.6rem;
    }



    .field-img {

    }

    .field-img01 {

        


    }










}



/************************************800px******************/

@media screen and (max-width: 830px) { 


    .field {
        width: 650px;
        margin: 0 auto;
    }

    .bg-star {
        width: 620px;
    }

    .field-text h1 {
        font-size: 2.3rem;
    }

    .field-img01 {
        width: 750px;


    }


}




/************************************650px******************/

@media screen and (max-width: 650px) { 

    #section2 {
        width: calc(100% - 40px);

    }

    .field {
        width: 100%;
        margin: 0 auto;
    }

    .break {display: block;}

    .field-text h1 {
        font-size: 2.5rem;

    }

    .field-text h2 {
        margin-left: 50px;
        margin-right: 50px;

    }

    .field-img01 {display: none;}
    .field-img02 {display: block;}


    .field-img {
        margin-top: 40px;
    }

    .bg-star {

        width: 334px;
        height: 85px;
        margin-bottom: -20px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

        
    .bg-star .star02 {
        margin-bottom: 0;
        margin-right: 10px;
    











}

}